/* PALETTE
#000000
#666666
#3508CD
#932191
#AD3D6F
#C7594B
#E17327
#FF9300
#FEF7FF
*/

.App {
    height:100%; 
    width:100%;
    background: #FEF7FF;
}

/* Add padding to containers */
.container {
    padding: 16px;
}
  
  /* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}






